<mat-toolbar class="navbar">
    <button mat-icon-button class="mainIcon" aria-label="icon for extra stuff">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button color='accent' routerLink="home">Musify</button>
    <button mat-button color='accent' routerLink="album">Album</button>
    <button mat-icon-button class="like" aria-label="heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <!-- <button mat-icon-button class="share" material></button> -->
</mat-toolbar>